#main_container{
padding: 20px 0;
    display:flex;
    justify-content: space-around;
}


.left_container, .right_container {
    width: 40%;
}
.button{
    box-shadow: 3px 3px 3px black;
    font-size: 20px;
    font-weight: 400;
    background-color: #009e0f;
    align-self: end;
    justify-self: center;
    color:white;
    cursor: pointer;
    margin-bottom: 20px;

}
.labell{
    display: flex;
    
    align-items: center;
}
